.pageHeader_title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.87rem;
  color: #5D5165;
  margin-bottom: 20px;
  font-family: 'Oswald';
}

.pageHeader_titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
